In [1]:
# !pip install ipython-sql
# !pip install mysqlclient

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine("mysql://mlb:HongKim@localhost/mlb")

In [7]:
query = "SELECT * FROM Pitches"
table = pd.read_sql_query(query, con=engine)
table.head(50)

       px     pz       ab_id  pitch_num
0   0.416  2.963  2015000001          1
1  -0.191  2.347  2015000001          2
2  -0.518  3.284  2015000001          3
3  -0.641  1.221  2015000001          4
4  -1.821  2.083  2015000001          5
5   0.627  2.397  2015000001          6
6  -1.088  1.610  2015000002          1
7  -0.257  2.047  2015000002          2
8   1.470  2.350  2015000003          1
9  -1.337  1.898  2015000003          2
10 -0.286  1.830  2015000003          3
11  0.200  2.643  2015000004          1
12 -0.741  2.930  2015000004          2
13 -0.711  1.971  2015000004          3
14 -1.539  1.525  2015000005          1
15 -0.881  1.888  2015000005          2
16  0.096  2.794  2015000005          3
17 -0.365  1.518  2015000005          4
18 -1.681  0.875  2015000005          5
19 -1.585  1.720  2015000006          1
20  0.008  2.602  2015000006          2
21  0.015  2.287  2015000007          1
22  1.703  0.220  2015000007          2
23  0.687  1.970  2015000007          3
24  0.788  1.808  2015000007          4
25  0.807 -0.489  2015000008          1
26 -0.170  3.196  2015000008          2
27  0.815  2.319  2015000008          3
28  0.937 -0.950  2015000008          4
29 -1.227  1.872  2015000008          5
30  1.257  0.520  2015000009          1
31  0.677  0.901  2015000009          2
32  0.346  2.334  2015000009          3
33  0.200  2.215  2015000009          4
34  0.598  3.510  2015000010          1
35 -0.195  2.613  2015000010          2
36 -0.028  1.778  2015000010          3
37  1.253  2.260  2015000010          4
38 -0.514  2.545  2015000011          1
39 -1.487  1.782  2015000011          2
40 -1.330  3.179  2015000011          3
41 -0.509  1.303  2015000011          4
42 -0.201  2.143  2015000011          5
43  0.249  1.977  2015000011          6
44  0.658  3.823  2015000011          7
45 -0.326  2.904  2015000012          1
46 -0.335  2.322  2015000012          2
47 -0.432  2.444  2015000012          3
48 -0.311  2.220  2015000013          1
49 -0.158  1.295  2015000013          2

In [9]:
query = "SELECT * FROM Pitches WHERE ab_id = 2018040493"
table = pd.read_sql_query(query, con=engine)
table.head(50)

      px     pz       ab_id  pitch_num
0  1.176  2.502  2018040493          1
1 -0.347  3.082  2018040493          2
2  0.701  2.546  2018040493          3